html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* 100% de la altura de la ventana */
    
}

.form {
    display: flex;

    flex-direction: column;

    background-color: rgb(249, 249, 252);
    padding: 20px;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra opcional */
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 20px;

}
button{
    border: none;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
color: #fff;
    background-color: #5f3fec; /* Fondo al hacer foco */
}
input {
    width: 300px;
    border: 1px solid #ccc; /* Borde del campo */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    background-color: #fff; /* Fondo del campo */
    box-shadow: none; /* Sin sombra */
    border-radius: 4px; /* Bordes redondeados */
}

input:focus {
    border-color: #66afe9; /* Color del borde al hacer foco */
    outline: none; /* Eliminar el contorno por defecto */
    background-color: #f0f8ff; /* Fondo al hacer foco */
}

header{
    width: 100%;
    height: 70px;
    background-color: #007bff;
    margin-bottom: 20px;
}


.large-icon {
    display: flex;
    justify-content: end;
    padding: 10px;
    cursor: pointer;
    
    font-size: 3rem; /* Puedes ajustar el tamaño según tus necesidades */
}
nav{
    padding: 1rem;
    display: flex;
    background-color: rgb(69, 71, 206);
  }
.screen{
    height: 50px;
    width: 50px;
margin-left: auto;
position: relative;
z-index: 1100; /* Asegúrate de que screen tenga un nivel alto */
}


.oof-screen{
    background-color: rgb(69, 71, 206);
    color: aliceblue;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    z-index: 1050; /* Asegúrate de que tenga un z-index alto */
   
  /* Asegúrate de que tenga un z-index alto */
}

.oof-screen.active{
    right: 0;
}

.active{
    right: 0;
}

.hamburguer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    z-index: 1060; /* Asegúrate de que tenga un z-index alto */
    

}